body{
	margin:auto 0;
}
.zone {
 
    cursor:pointer;
    color:#fff;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
/*Navigation*/
.main-nav{
	display:flex;
	list-style:none;
	font-size:0.7em;
	margin:0;
}
li{
	padding:20px;
}
a{
	color:#f4f5f6;
	text-decoration: none;
}
.push{
	margin-left:auto;
}
/*Slider*/
@media only screen and (max-width:600px)
{
	.main-nav{
		font-size: 0.5em;
		padding:0;
	}
}
/*slider*/
.container{
	display:flex;
	align-items:center;
	justify-content:center;
	height:50vh;
}
/*portfolio CSS grid */
.grid-wrapper{
	display:grid;
	grid-gap:20px;
	grid-template-columns:repeat(auto-fill, minmax(350px,1fr));
}
.box{
	background-color:#444;
	padding:20px;
	margin:20px;
}
.image:hover
{
	transform: scale(1.7);
}

img{
	
width: 200px;
height: 200px;
	
}

.sticky{
	position:fixed;
	top: 0;
	width: 100%;
	
	
	
}

.box >img{/*all imgs that are in grid class*/
	width:100%;
}
*{box-sizing:border-box}*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 27%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  }

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.green{
    background: #669999;
    }
.red{
    background: none; 
    /*#C655BE*/
    }
.yellow{
    background: #F3AAAA;
    }
.blue{
    background: #7abcff;    
     }

